<% if flash[:error] %>
  <p class="flash-error"><%= flash[:error] %></p>
<% end %>
<% if flash[:notice] %>
  <p class="flash-notice"><%= flash[:notice] %></p>
<% end %>

<h1>Hi there!</h1>

<form action="/bomb", method="post">

<p>Actual activation code: <%= @bomb.activation_code%></p>
<p>Actual deactivation code: <%= @bomb.deactivation_code%></p>

<p>Wired: <%= @bomb.activated%></p>
  <p>
    <label for="">Activation code:</label>
    <input type="text" name="activation_code">

    <label for="">Deactivation code:</label>
    <input type="text" name="deactivation_code">

    <input type="submit" value="send">
  </p>

</form>
