<p><%= link_to 'New meeting', new_meeting_path %></p>

<% @rooms.each do |room| %>

  <h2><%= room.name %></h2>

  <h3>Meetings</h3>

  <table>
    <tr>
      <th>Meeting</th>
      <th>Begins</th>
      <th>ends</th>
    </tr>
    
      <% room.meetings.each do |meeting| %>
        <tr>
          <td id="<%= meeting.id %>"> <%= link_to meeting.title, meeting_path(meeting) %> </td>
          <td> <%= l meeting.begins, format: :short %> </td>
          <td> <%= l meeting.ends, format: :short %> </td>
        </tr>
      <% end %>
  </table>

<% end %>
