<% meeting.errors.full_messages.each do |message| %>
  <p class="error"><%= message %>
<% end %>

<p>
  <%= f.label :title %>
  <%= f.text_field :title %>
</p>

<p>
  <%= f.label :begins %>
  <%= f.date_select :begins%>
  <%= f.time_select :begins, ignore_date: true %>
</p>

<p>
  <%= f.label :ends %>
  <%= f.date_select :ends%>
  <%= f.time_select :ends, ignore_date: true %>
</p>
<p>
  <%= f.label :room_id %>
  <%= f.select :room_id, options_for_select( Room.all.map { |room| [room.name, room.id] }) %>
</p>
<p>
  <%= f.submit %>
</p>

